asn1crypto==0.23.0
attrs==17.3.0
Automat==0.6.0
azure-common==1.1.8
azure-nspkg==2.0.0
azure-storage-blob==0.37.1
azure-storage-common==0.37.1
azure-storage-nspkg==2.0.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.1
futures==3.1.1
get==0.0.0
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
lxml==4.1.1
parsel==1.2.0
pdftrick==0.0.2
post==0.0.0
public==0.0.46
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
python-dateutil==2.6.1
query-string==0.0.0
queuelib==1.4.2
redis==2.10.6
request==0.0.0
requests==2.18.4
Scrapy==2.6.1
scrapyd==1.2.0
scrapyd-client==1.1.0
service-identity==17.0.0
setupfiles==0.0.50
six==1.11.0
Twisted==17.9.0
urllib3==1.22
w3lib==1.18.0
zope.interface==4.4.3
